@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Permanent+Marker');

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 13pt;
  text-align: center;
  margin: 0;
}

header {
  padding: 0em 0;
  margin: 0 10px;
  position: relative;
  height: 20em;
  overflow: hidden;
}

#headline {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 10;
  opacity: 0.9;
}

.opac {
  opacity: 0.8;
}

header img {
  width: 100%;
  float: left;
}

h1 {
  font-family: 'permanent marker', cursive;
  font-size: 38pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  margin: 20px 0;
}

form h4 {
  margin: 0;
}

p {
  font-size: 12pt;
  margin: 20px;
  /*border: 2px dotted green;*/
}

div {
  margin: 50px 0;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 100px 100px 100px: auto;
}

.box {
  background-color: rgba(41, 41, 41, 1);
  border-radius: 5px;
  padding: 10px;
}

.a {
  grid-column: 1;
}

.b {
  grid-column: 2;
}

.c {
  grid-column: 3;
}

section {
  padding: 30px 20px;
  margin: 10px;
}

form {
  /*border: 2px dashed red;*/
  width: 60%;
  margin: 0 auto;
}

.burger {
  margin: auto;
}

.ingredients {
  padding-top: 1em;
  width: 9em;
  margin: auto;
}

ul {
  /*list-style-type: none;*/
}

label {
    margin: 5pt 0;
}

input {
  margin: 4pt 0;
}

button {
  margin: 20px;
}

button:hover {
  background-color: grey;
  cursor: pointer;
}

.allergy {
  font-weight: bold;
}

#burgers {
  background-color: black;
  color: white;
  border: 2px dashed white;

}

#burgers ul {
  font-size: 12pt;
  text-align: left;
  margin: 10px;
}

#burgers h3 {
  margin: 30px;
}


.burger {
  width: 90%
  margin: auto;
}

#customerInfo {
  border: 2px dashed black;
}

#genderInfo {
  width: 50%;
  margin: 40px auto;
  text-align: left;
}

#genderInfo p {
  margin-left: 30pt;
}

#genderButtons {
  width: 10em;
  margin: auto;
}
